<!DOCTYPE html>
<html lang="en">

<head>
    <style>
   
    #h1{
        color : gray;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="./style.css">``

    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">    
</head>

<body>
    <div class="container" alt="" id="first_paragraph" >
        <img src="img2.jpg" alt="" id="Mypicture">
        <h1 id="hi" >Hi!</h1>
        <h2>My name is Lee Seung Wook!</h2>
    </div>
    <div class ="second_paragraph">
        <section class = "about">
            <h1 id='h1'>About Me!</h1>
            <p id = "id">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at hendrerit metus, non congue ante. Nunc vitae augue nec dolor dictum euismod. Sed viverra arcu sit amet sodales aliquam. Pellentesque nec massa et justo pharetra tempus. Ut faucibus euismod tempor. Sed accumsan feugiat metus quis tristique. Pellentesque aliquet leo id elit pretium mattis ut faucibus nisl. Pellentesque ullamcorper maximus lacus at commodo. Praesent consequat a justo sed hendrerit.

Suspendisse rutrum dapibus erat, non semper dolor pulvinar quis. Cras facilisis felis sed finibus viverra.  </p>
        </section>
        <a href="mailto:dnrsla123@naver.com" id = "mybutton">Contact Me!</a>
    </div>
    <div id="third_paragraph">
        <a href="http://facebook.com" id = "_link">Facebook</a>
        <a href="http://instagram.com" id = "_link">Instagram</a>
        <a href="http://twitter.com" id = "_link">Twitter</a>
        <p id = "_link">© 2018 SKKU Likelion</p>
    </div>
</body>

</html>